<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillskeeper">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/pills_ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pills_ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PersonalInfoActivity"
            android:label="@string/user_settingsActivity" />
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/search_chemist" />
        <activity
            android:name=".activity.appointment.AppointmentListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.appointment.AppointmentFormActivity"
            android:label="@string/appointmentTitle" />
        <activity
            android:name=".activity.pills.MedicinesListActivity"
            android:label="@string/medicineListTitle" />
        <activity android:name=".activity.pills.reminder.ReminderActivity" />
        <activity android:name=".activity.pills.reminder.AdvancedInfoReminderActivity" />
        <activity
            android:name=".activity.pills.TextReaderActivity"
            android:label="@string/textReaderActivityTitle" />
        <activity
            android:name=".activity.pills.PillsFormActivity"
            android:label="@string/pillsFormActivityTitle" />
        <activity
            android:name=".activity.pills.PillsListActivity"
            android:label="@string/pillsListActivityTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUp"
            android:label="@string/singUpTitle" />
        <activity
            android:name=".activity.friend.FriendListActivity"
            android:label="@string/friendListActivityTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".notifier.WorkerStarter"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--<service
            android:name=".notifier.WorkerNotifier"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>-->

    </application>

</manifest>