<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillskeeper">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ChemistsActivity"></activity>
        <activity
            android:name=".activity.appointment.AppointmentActivity"
            android:label="@string/appointmentTitle" />
        <activity
            android:name=".activity.pills.MedicinesListActivity"
            android:label="@string/medicineListTitle" />
        <activity android:name=".activity.pills.reminder.ReminderActivity" />
        <activity android:name=".activity.pills.reminder.AdvancedInfoReminderActivity" />
        <activity
            android:name=".activity.pills.TextReaderActivity"
            android:label="@string/textReaderActivityTitle" />
        <activity
            android:name=".activity.pills.PillsFormActivity"
            android:label="@string/pillsFormActivityTitle" />
        <activity
            android:name=".activity.pills.PillsListActivity"
            android:label="@string/pillsListActivityTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUp"
            android:label="@string/singUpTitle" />
        <activity
            android:name=".activity.friend.FriendListActivity"
            android:label="@string/friendListActivityTitle" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/mainActivityTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>